<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TITLE</title>

    <!-- CSS -->
    <link href="../Assets/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../Assets/CSS/bootstrap-darkly.min.css" rel="stylesheet" />
    <link href="../Assets/CSS/main.css" rel="stylesheet" />

    <!-- Scripts -->
    <script src="../Assets/JS/plotly.min.js"></script>
    <script src="../Assets/JS/bootstrap.bundle.min.js"></script>
</head>

<body>

</body>
</html>
